.bannerDiv{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
}

.Experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
}

.experiences-box{
    gap: 2.5rem;
    width: 97vw;
    border: 1px solid black;
}